<div class="phil-content">
  <div class="phil-header" id="phil-header">
    <h2>My Thoughts and Philisophical Rambilings</h2>
  </div>
  <ul *ngIf="isVisible">
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        Distinguishing between Evolution and Representational States
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        Thinking Consciously About Morals
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        Connecting Morality to the Environment
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        Critiquing the Crtical Period
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        Solving the Puzzle of Experience with Representations
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        Defining Mental States Mechanically
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        A Rebuttal for the System's reply to Searle's Chinese Room Arguement
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        What is Interdisciplinary Cognitive Science?
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        Min Heaps and Heap Sort
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        Assesing the Biological Validity of Neural Networks
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        Communicating, Calculating and Charting the Mind: Using Language Processing to Model the Mind as a Computer
      </mat-card>
    </li>
  </ul>
</div>
<div id="phil-end">
</div>
