<div class="phil-content">
  <div class="phil-header" id="phil-header">
    <h2>My Thoughts and Philisophical Rambilings</h2>
  </div>
  <ul *ngIf="isVisible">
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        <a [routerLink]="['/content', '/assets/papers/Snorfs-and-Kimus.md']"> Distinguishing between Evolution and Representational States </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        <a [routerLink]="['/content', '/assets/papers/Thinking-Conciously-About-Morals.md']"> Thinking Consciously About Morals </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        <a [routerLink]="['/content', '/assets/papers/Morality-and-the-Environment.md']"> Connecting Morality to the Environment </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        <a [routerLink]="['/content', '/assets/papers/Critical-Period.md']"> Critiquing the Crtical Period </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        <a [routerLink]="['/content', '/assets/papers/Solving-the-Puzzle-of-Experience.md']"> Solving the Puzzle of Experience with Representations </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        <a [routerLink]="['/content', '/assets/papers/Defining-Mental-States-Mechanically.md']"> Defining Mental States Mechanically </a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        <a [routerLink]="['/content', '/assets/papers/Systems-Reply.md']"> A Rebuttal for the System's reply to Searle's Chinese Room Arguement</a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutLeft]>
        <a [routerLink]="['/content', '/assets/papers/Assessing-the-biological-validity-of-neural-nets.md']"> Assesing the Biological Validity of Neural Networks</a>
      </mat-card>
    </li>
    <li class="article-item">
      <mat-card class="article-card" [@slideInOutRight]>
        <a [routerLink]="['/content', '/assets/papers/Language, AI, and the Mind.md']"> Communicating, Calculating and Charting the Mind: Using Language Processing to Model the Mind as a Computer</a>
      </mat-card>
    </li>
  </ul>
</div>
<div id="phil-end">
</div>
