<div class="terminal-body" [@slideInOut]>
  <div class="sub-header-terminal">
    <h3>A little about me</h3>
  </div>
  <mat-card class="terminal-card">
    <span>
      Edward ~ $ cat FullName.txt<br>
      <div class="terminal-response">> Edward Bernardi Bottom</div>
    </span><br>
    <span>
      Edward ~ $ cat Education.txt<br>
      <div class="terminal-response">
        > BS in Computer Science from Washington University in St. Louis <br>
        > Second Major in the Philosophy-Neuroscience-Psychology Program
      </div>
    </span><br>
    <span>
      Edward ~ $ cat Current_Job.txt<br>
        <div class="terminal-response">
          > Software Engineer at Capital One <br>
          > Course Developer, Teaching Assistant, and Researcher at<br>
            Washington Univeristy
        </div>
    </span><br>
    <span>
      Edward ~ $ cat Languages.json<br>
      <div class="terminal-response">
        > [Java, JavaScript, Python, Kotlin, C++] <br>
      </div>
    </span><br>
    <span>
      Edward ~ $ cat Intrests.json <br>
      <div class="terminal-response">
        > [Software Development, Philosophy, Strength Training, Yoga, Cooking] <br>
      </div>
    </span><br>
    <span>
      Edward ~ $ find Resume.pdf <br>
        <div class="terminal-response">
          > Link to Resume
        </div>
    </span><br>
    <span>
      Edward ~ $ grep Email <br>
        <div class="terminal-response">
          > Email: edward.bottom1@gmail.com
        </div>
    </span><br>
  </mat-card>
</div>