<div class="container">
  <div class="graphic-header" id="r-header">
    <h2> Some of my favorite tools </h2>
  </div>
  <div class="animated-element" *ngIf="isVisible">
    <div class="grid-row" [@slideInOutRight]>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/rex-ray/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Angular_Logo.png">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/React_Logo.png">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://www.edgexfoundry.org/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Node_Logo.png">
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://www.openswitch.net/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Flask_Logo.png">      
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://github.com/kubernetes/kubernetes/tree/master/examples/volumes/scaleio" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Java_Logo.jpeg">      
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row" [@slideInOutLeft]>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/container-storage-interface/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Python_Logo.png">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/kubernetes/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/Kotlin_Logo.jpeg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://grpc.io/" target="_blank"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/C++_Logo.png">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/envoy/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/SQL_Logo.jpg">  
          </div>
        </div>
      </div>
      <div class="grid-item">
        <a class="wrapping-link" href="https://thecodeteam.com/projects/istio/"></a>
        <div class="grid-item-wrapper">
          <div class="grid-item-container">
            <img class="grid-item-container grid-item-wrapper" src= "assets/AWS_Logo.png">  
          </div>
        </div>
      </div>
  </div>
</div>

